$color: #eee;

[v-cloak]{
  display: none;
}

html,body{
  background-color: $color;
  #app{
    text-align: center;
    margin-top: 100px;
    h1{
      text-shadow: 1px 0px 3px rgba($color: #000000, $alpha: 0.5);
    }
  }
}